/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL       &kp N1            &kp N2     &kp N3         &kp N4     &kp N5        &kp N6     &kp N7      &kp N8  &kp N9  &kp N0  &kp N9
&kp LEFT_WIN    &kp SQT           &kp COMMA  &kp PERIOD     &kp P      &kp Y         &kp F      &kp G       &kp C   &kp R   &kp L   &kp R
&kp LEFT_ALT    &kp A             &kp O      &kp E          &kp U      &kp I         &kp D      &kp H       &kp T   &kp N   &kp S   &kp N
&kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp Q      &kp J          &kp K      &kp X         &kp B      &kp M       &kp W   &kp V   &kp Z   &kp V
                                             &kp SEMICOLON  &kp SPACE  &kp BSPC      &kp TAB    &kp RET     &kp Y
                                             &kp SLASH      &mo 1      &kp ESCAPE    &kp MINUS  &kp DOLLAR  &trans
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp F1       &kp F2      &kp F3                &kp F4                 &kp F5           &kp F6         &kp F7          &kp F8        &kp F9        &kp F10  &kp F11
&trans  &kp PERCENT  &kp AT      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp CARET        &kp BACKSLASH  &kp SLASH       &kp PIPE      &kp QUESTION  &trans   &kp QUESTION
&trans  &kp N0       &kp DOLLAR  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AMPERSAND    &kp LEFT       &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT     &trans   &kp RIGHT
&trans  &trans       &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE        &trans         &kp DELETE      &kp GRAVE     &trans        &trans   &kp F12
                                 &kp HASH              &trans                 &trans           &kp LA(TAB)    &kp LA(Q)       &trans
                                 &trans                &trans                 &trans           &kp HASH       &kp ASTERISK    &trans
            >;
        };
    };
};
